select[multiple] {
    height: 34px;
}

select, input[type="file"] {
    visibility: hidden;
}

body {
    padding-top: 80px;
}

footer {
    margin-top: 33px;
    padding: 40px 0;
    color: #EEEEEE;
    background-color: #333333;
}

.bootstrap-dialog-title {
    font-size: 19px;
}

.input-group.file .input-group-addon {
    cursor: pointer;
}

.has-error .multiselect-container label {
    color: #000000;
}

.bootstrap-dialog-body form > .btn {
    display: none;
}